{% extends 'base.html' %}
{% block body %}

<br><br><br><br>
<div class="container">
    <h2 style="text-align: center;">Notícias Recentes</h2>
</div>
<br><br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                {% for noticia in listaLatest %}
                <img class="card-img-top" src="{{url_for('static', filename = noticia.getIconeNoticia())}}">
                <div class="card-body">
                    <p class="card-text">{{noticia.getTitulo()}}</p>
                    <p class="card-text">{{noticia.getQtdView()}} visualizações <br> {{noticia.getQtdLike()}} curtidas</p>
                    <a href="{{url_for('noticia', noticia_id = noticia.getId())}}" class="btn btn-primary"><strong>Saiba mais</strong></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
<div class="container" id="#listEstados">
    <h2 style="text-align: center;">Notícias por Estado</h2>
</div>
<br><br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                {% for noticia in listaEstados %}
                <img class="card-img-top" src="{{url_for('static', filename = estado.getIcone())}}">
                <div class="card-body">
                    <p class="card-text">{{estado.getNome()}}</p>
                    <a href="{{url_for('estado', estado_id = estado.getId())}}" class="btn btn-primary"><strong>Saiba mais</strong></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
<div class="container">
    <h2 style="text-align: center;">Notícias mais curtidas</h2>
</div>
<br><br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                {% for noticia in listaMostLiked %}
                <img class="card-img-top" src="{{url_for('static', filename = noticia.getIconeNoticia())}}">
                <div class="card-body">
                    <p class="card-text">{{noticia.getTitulo()}}</p>
                    <p class="card-text">{{noticia.getQtdView()}} visualizações <br> {{noticia.getQtdLike()}} curtidas</p>
                    <a href="{{url_for('noticia', noticia_id = noticia.getId())}}" class="btn btn-primary"><strong>Saiba mais</strong></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>

{% endblock %}